header {
  max-width: fit-content;
  margin: 0 auto;
  font-size: 30px;
}
/* h1 {
  margin: 0 100%;
} */

#map {
  height: 500px;
  width: 700px;
}
#gameContainer {
  display: flex;
  justify-content: space-evenly;
}

button {
  width: 100px;
  height: 30px;
  cursor: pointer;
  transition: all ease 0.2s;
}
#gameContainer {
  border: solid red;
}
.scoreboard {
  border: solid green;
  display: flex;
  justify-content: space-evenly;
  background-color: wheat;
  color: black;
  margin-top: 2px;
}
